<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/main.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="pageContainer">
      <div class="header">
        <div class="left-head">
          <h4>
            Job Application Tracker
          </h4>
        </div>
        <div class="right-head"></div>
      </div>
      <div class="body">
        <div class="jobContainer">
          <h2>Applied Jobs List</h2>
          <ul class="jobList">
            <% for(let i=0; i < job.length; i++) {%>
            <li class="job">
              <span class="jobLabel"><%= job[i].job %></span>
              <span class="monthLabel"><%= job[i].dateMonth %></span> -
              <span class="dayLabel"><%= job[i].dateDay %></span> -
              <span class="yearLabel"><%= job[i].dateYear %></span>
              <span class="delete">delete</span>
            </li>
            <% } %>
          </ul>
          <div class="jobInput">
            <h5>Input new job below!</h5>
            <form action="/addJob" method="POST">
              <input type="text" placeholder="Job" name="jobItem" />
              <input type="submit" />
            </form>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>Made using Express, EJS, and MongoDB.</p>
        <p>Contact: timd1919@gmail.com</p>
      </div>
    </div>
  </body>
</html>
